# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules

# production build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# system files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env variables (very important)
.env
.env.*
.env.development
.env.production

# 以下是單檔不想add . 

AppUseEffect.jsx
AppUseRef.jsx
AppUseState.jsx
One.jsx
MyApp.jsx
test.json
備用.jsx
*.test.json
*.test.js


components-practise/
practise/
.all.scss
weekWork/


