$gray-100: #f2f2f2;
$gray-300: #dee2e6;
$gray-900: rgba(0, 0, 0, 0.87);

$link-color: $gray-900;
$link-decoration: none;
$link-hover-decoration: underline;

$border-color: $gray-900;
$component-active-bg: $gray-900;
$text-muted: #6c757d;

$font-family-sans-serif: (
  "Roboto",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji"
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 4.5,
);
