html,
body {
  max-width: 100%;
  margin: 0;
}

.navbar-custom-scroll::-webkit-scrollbar {
  display: none;
}
.sticky-top.scrolled {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: rgba(187, 186, 186, 0.95);
  backdrop-filter: blur(6px);
}
.sticky-top {
  transition: all 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@include media-breakpoint-down(md) {
  .custom-header-md-open {
    position: fixed;
    top: 60px; // navbar 高度
    left: 0;
    right: 0;
  }
}
